.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inputs {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
